<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemInCart</servlet-name>
        <servlet-class>com.example.bangiay.Controller.DeleteItemInCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandMangerment</servlet-name>
        <servlet-class>com.example.bangiay.Controller.BrandMangerment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrand</servlet-name>
        <servlet-class>com.example.bangiay.Controller.UpdateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBrand</servlet-name>
        <servlet-class>com.example.bangiay.Controller.DeleteBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrandServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.AddBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagerment</servlet-name>
        <servlet-class>com.example.bangiay.Controller.CategoryManagerment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>com.example.bangiay.Controller.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>com.example.bangiay.Controller.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanUser</servlet-name>
        <servlet-class>com.example.bangiay.Controller.BanUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRole</servlet-name>
        <servlet-class>com.example.bangiay.Controller.UpdateRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuantityProduct</servlet-name>
        <servlet-class>com.example.bangiay.Controller.AddQuantityProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.UpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>com.example.bangiay.Controller.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderSevlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.MyOrderSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>com.example.bangiay.Controller.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutVnpay</servlet-name>
        <servlet-class>com.example.bangiay.Controller.CheckoutVnpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCOD</servlet-name>
        <servlet-class>com.example.bangiay.Controller.OrderCOD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderVNpay</servlet-name>
        <servlet-class>com.example.bangiay.Controller.OrderVNpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.StatisticServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportDataServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ExportDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>com.example.bangiay.Controller.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.FeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>com.example.bangiay.Controller.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFeedback</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ManageFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedback</servlet-name>
        <servlet-class>com.example.bangiay.Controller.DeleteFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.HomeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeStaffServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.HomeStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountManagerment</servlet-name>
        <url-pattern>/accountmanagerment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProduct</servlet-name>
        <url-pattern>/manageproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/viewoder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemInCart</servlet-name>
        <url-pattern>/deleteitemincart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandMangerment</servlet-name>
        <url-pattern>/brandmanagerment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrand</servlet-name>
        <url-pattern>/updatebrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBrand</servlet-name>
        <url-pattern>/deletebrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrandServlet</servlet-name>
        <url-pattern>/addbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagerment</servlet-name>
        <url-pattern>/categorymanagerment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanUser</servlet-name>
        <url-pattern>/banuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRole</servlet-name>
        <url-pattern>/updaterole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuantityProduct</servlet-name>
        <url-pattern>/addquantityproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <url-pattern>/updatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderSevlet</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.example.bangiay.Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.AllProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.bangiay.Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyRegister</servlet-name>
        <servlet-class>com.example.bangiay.Controller.VerifyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagerment</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ManagermentAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>com.example.bangiay.Controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>com.example.bangiay.Controller.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProduct</servlet-name>
        <servlet-class>com.example.bangiay.Controller.ManageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.example.bangiay.Controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>com.example.bangiay.Controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductServlet</servlet-name>
        <url-pattern>/allproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyRegister</servlet-name>
        <url-pattern>/verifyRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutVnpay</servlet-name>
        <url-pattern>/checkoutvnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCOD</servlet-name>
        <url-pattern>/ordercod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderVNpay</servlet-name>
        <url-pattern>/ordervnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticServlet</servlet-name>
        <url-pattern>/statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportDataServlet</servlet-name>
        <url-pattern>/exportData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/cancelorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFeedback</servlet-name>
        <url-pattern>/managefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedback</servlet-name>
        <url-pattern>/deletefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminServlet</servlet-name>
        <url-pattern>/homeadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeStaffServlet</servlet-name>
        <url-pattern>/homestaff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>RequestLoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
